<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect Trailing Slashes…
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # If the request is not a file or directory, send to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Disable directory listing
Options -Indexes

# Protect .env file
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Protect other sensitive files
<FilesMatch "(artisan|composer\.(json|lock)|package\.json|webpack\.mix\.js|server\.php|phpunit\.xml|\.gitignore)">
    Order allow,deny
    Deny from all
</FilesMatch>
